@{
    ViewData["Title"] = "Home Page";
}


<div class="mb-3">
  <label for="ipaddessText" class="form-label">IP address</label>
  <input type="text" class="form-control  is-invalid" id="ipaddessText" placeholder="123.234.123.234">
  <div id="ipaddessTextFeedback" class="invalid-feedback">
        Type ip-address, please.
  </div>
  <button type="button" class="btn btn-secondary searchbutton">Search</button>
</div>
 
@section Scripts {
    <script src="~/js/main.js"></script>
    <script>
        //https://localhost:7103/ip/location
            //ip=123.234.123.234
            let itms = new GetItems();
            itms.setResult("/city/locations?city=cit_Eve Amis");
    </script>
}


