@{
    ViewData["Title"] = "Home Page";
}


<div class="mb-3">
  <label for="ipaddessText" class="form-label">IP address</label>
  <input type="text" class="form-control  is-invalid" id="ipaddessText" placeholder="123.234.123.234">
  <div id="ipaddessTextFeedback" class="invalid-feedback">
        Type ip-address, please.
  </div>
  <button type="button" class="btn btn-secondary searchbutton">Search</button>
</div>
 
@section Scripts {
    <script src="~/lib/systemjs/system.min.js">
        System.config({
    packages: {
        'app': {
            defaultExtension: 'js',
            main: "./lib/ts/GetItems"
        },
    transpiler: 'typescript',
    typescriptOptions: { emitDecoratorMetadata: true },
    }
});
</script>

  
    <script>
    let getitems;
    System.import('app').
    then(app=>{getitems = app;});
    alert(new getitems().getItems().country);
</script>
}


