@{
    ViewData["Title"] = "Home Page";
}



  <label for="ipaddessText" class="form-label searchlabel">IP address</label>
  <input type="text" class="form-control searchinput" id="ipaddessText">
  <div id="ipaddessTextFeedback" class="invalid-feedback validationmess"></div>
  <button type="button" class="btn btn-secondary searchbutton">Search</button>

 
@section Scripts {
    <script src="~/js/main.js"></script>
    <script>
        //https://localhost:7103/ip/location
            //ip=123.234.123.234
            let itms = new GetItems();
            itms.setResult("/city/locations?city=cit_Eve Amis");
    </script>
}


