<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GeoPlaceIp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet"  href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GeoPlaceIp.styles.css" asp-append-version="true" />
</head>
<body>
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Company name</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-nav">
    <div class="nav-item text-nowrap">

    </div>
  </div>
</header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar bg-secondary leftmenu">
                <!-- начало блока -->
                <button type="button" class="btn btn-outline-secondary menubutton">Get geo info from IP</button>
                <button type="button" class="btn btn-outline-secondary menubutton menubuttonsec">Get geo info from city name</button>
            </div>
            <div class="col-sm-5 col-md-3 main"></div>
           <div class="col-sm-10 col-md-8 main mainblock">
            @RenderBody()
                            <div>
                    <h3 class="mainblock1">Found</h3>
                   <table class="table table-striped">
                       <tr><td>
<dl class="row">
  <dt class="col-sm-3">Country</dt>
  <dd class="col-sm-9">Russia</dd>

  <dt class="col-sm-3">Region</dt>
  <dd class="col-sm-9">
    St.Peterburg
  </dd>

  <dt class="col-sm-3">Postal</dt>
  <dd class="col-sm-9">234ZA8796</dd>

  <dt class="col-sm-3">Organization</dt>
  <dd class="col-sm-9">Special proekt</dd>
    <dt class="col-sm-3">Lattitude</dt>
  <dd class="col-sm-9">73.3645</dd>
    <dt class="col-sm-3">Longitute</dt>
  <dd class="col-sm-9">43.4563</dd>
</dl>
                       </td></tr>
                   </table>
                </div>
            </div>
        </div>
        </main>
    </div>

<footer class="footer mt-auto py-3">
  <div class="container">
    <span class="text-muted">© 2021 Company, Inc</span>
  </div>
</footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/sdlib/sdsr.notification.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
